  
  html,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #030B16;
}
a {
    text-decoration:none;
}
.homepagecanvas {
    width:100%;
    height:30em;
}
.body {
    display:flex;
    width:100%;
    flex-direction:column;
    align-items:center;
}
.order {
    padding:0.1em;
}
#paracord {
    padding:1em;
    transition: transform .2s;
    border-radius:40%;
    height:80px;
    width:80px;
}
#paracord:hover {
    transform: scale(2.5);
}
#switch {
    padding:1em;
    transition: transform .2s;
    border-radius:40%;
    height:80px;
    width:80px;
}
#switch:hover {
    transform: scale(2.5);
}

.shellColor {
    display:flex;
}
.headergap {
    padding-top:5em;
}
.orangebutton {
    background-color:orange;
}
.bluebutton {
  background-color:#6EB5FF;  }
.greenbutton {
  background-color:lightgreen  
}
.yellowbutton {
    background-color:yellow;
}
.whitebutton {
    background-color:white;
}
.redbutton {
  background-color:red;
}
.purplebutton {
  background-color:purple;  
}
.paracordselector {
  color:white;
  display:flex;
  margin-top:2em;
  margin-left:2em;
  width:40%;

}
.pinkbutton {
 
}
#colorbuttons {
    padding:2em;   
    margin:1em;
}
.canvas {
    width:50em;
    margin-top:8em;
    margin-left:35em;
    margin-right:2em;
    height:25em;
    position:fixed;
}

.partselecter {
    color:white;
    margin-top:2em;
    margin-left:2em;
    width:40%;
}


button {
  background-color: #FD788B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:40%;
  height:80px;
  width:80px;
  font-size: 16px;
}
.boxdetails {
    font-size:0.75em;
    padding:1em;
}
.header {
    display:flex;
    background-color:#45A29E;
    height:5em;
    justify-content:space-between;
    position:fixed;
    width:100%;
    z-index:2;
}
.dropdown {
    color:white;
    width:20%;
    height:10em;
    background-color:white;

}

.menulogo {
    height:3em;
    padding-left:40px;
    padding-top:1em;
}
.Title {
    display:flex;
}
    

.shoppingcart {
    height:60px;
    padding-right:40px;
    padding-top:10px;
}
.headertitle {
    color:black;
    padding:0px;
    background-color:#45A29E;
    font: sans-serif;
    margin-top:20px;
    padding-top:0px;
    padding-right:90px;
    justify-content:center;
    font-size:2.5em;
}
.headerimg {
    height:5em;
    padding-left:25px;
}
.overlayed {
    margin-top:30px;
    z-index:0;
}
.orderbutton {
    z-index:1;
    position:absolute;
}
.instructions {
    color:white;
    display:grid;
    place-items:center;
}
.clearbutton {
    align-items:center;
    text-align:center;
    justify-content:center;
    color:black;
    display:flex;
    padding:1em;
    background: linear-gradient(gray,lightgray );
    opacity:0.4;
}
.spacing {
    padding-top:50px;
}
.container {
    display:flex;
    flex-direction:row;
    align-items:center;
    color:white;
    width:100%;
}
.raspberrypi0 {
    height:498px;
    width:898px;
}
.divider {
    background-color:white;
    width:90px;
    height:5px;
    position:50%;
    margin:0 auto;
    margin-top:.25em;
    margin-bottom:.5em;
}

.feature {
    padding:1em;
    margin:0;
    background-color:#1F2833;
    height:448px;
    align-items:center;
    justify-content:center;
    display:flex;
    flex-direction:column;
    text-align:center;
}
.detailheading {
    font-size:1.45em;
}
.details {
    font-size:0.75em;
}
.body {
    display:flex;
    justify-content:center;
    padding-top:0px;
}
.SceneModifier {
    width:100%;
    height:100%;
    position:fixed;
}
.homepage {
    display:flex;
    justify-content:center;
    flex-direction:column;
    padding-top:2em;
    align-items:center;
}
.ergonomics {
    color:white;
    justify-content:center;
    height:50px;
    align-items:center;
    text-align:center;
    font-size:1.5em;
    padding-bottom:4em;
}

.motto {
    color:white;
    font-size:50px;
    font-family:"Open Sans",sans-serif;
    font-weight:700;
    margin-top:2em;
    width:20em;
}

