  
  html,
  body,
  #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #030B16;
}
button {
  background-color: #FD788B; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius:100%;
  height:80px;
  width:80px;
  font-size: 16px;
}
.bluebutton {
  background-color:#6EB5FF;
}
.header {
    display:flex;
    background-color:#45A29E;
    height:5em;
    justify-content:space-between;
}
.menulogo {
    height:60px;
    padding-left:40px;
    padding-top:10px;
}
.Title {
    display:flex;
}
    

.shoppingcart {
    height:60px;
    padding-right:40px;
    padding-top:10px;
}
.headertitle {
    color:black;
    padding:0px;
    background-color:#45A29E;
    font: sans-serif;
    margin-top:20px;
    padding-top:0px;
    padding-left:20px;
    justify-content:center;
    font-size:2.5em;
}
.headerimg {
    height:80px;
    padding-left:10px;
}
.overlayed {
    margin-top:30px;
}
.instructions {
    color:white;
    display:grid;
    place-items:center;

}
.spacing {
    padding-top:50px;
}
.body {
    display:flex;
    justify-content:center;
    padding-top:0px;
}
.motto {
    color:white;
    font-size:50px;
    font-family:"Open Sans",sans-serif;
    font-weight:700;

}

